{% extends 'base.html' %}
{% block content %}

 <!-----Carrosel------>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../static/imagens/Photos-001/imagem (1).jpg"  alt="imagem 1">
    </div>
    <div class="carousel-item ">
      <img src="../static/imagens/Photos-001/imagem (2).jpg"  alt="imagem 2">
    </div>
    <div class="carousel-item ">
      <img src="../static/imagens/Photos-001/imagem (3).jpg"  alt="imagem 3">
    </div>
    <div class="carousel-item ">
      <img src="../static/imagens/Photos-001/imagem (4).jpg"  alt="imagem 4">
    </div>
    <div class="carousel-item ">
      <img src="../static/imagens/Photos-001/imagem (5).jpg"  alt="imagem 5">
    </div>
    <div class="carousel-item ">
      <img src="../static/imagens/Photos-001/imagem (6).jpg"  alt="imagem 6">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
 <!-----Carrosel------>

 <!-----gallery------->
<div class="gallery-container">

  <div class="gallery-item">
    <img src="../static/imagens/Photos-001/imagem (1).jpg" class="d-block w-100" alt="imagem 1">
  </div>
  <div class="gallery-item">
    <img src="../static/imagens/Photos-001/imagem (2).jpg" class="d-block w-100" alt="imagem 2">
  </div>
  <div class="gallery-item">
    <img src="../static/imagens/Photos-001/imagem (3).jpg" class="d-block w-100" alt="imagem 3">
  </div>  

  <div class="gallery-item">
    <img src="../static/imagens/Photos-001/imagem (4).jpg" class="d-block w-100" alt="imagem 4">
  </div>
  <div class="gallery-item">
    <img src="../static/imagens/Photos-001/imagem (5).jpg" class="d-block w-100" alt="imagem 5">
  </div>
  <div class="gallery-item">
    <img src="../static/imagens/Photos-001/imagem (6).jpg" class="d-block w-100" alt="imagem 6">
  </div>
</div>

<!-----Comentarios------->
<!--

<div class="row justify-content-between">
  <div id=avalpessoal class="col-sm-3 col-xs-12">
    <div class="card-body text-center"> 
      <form action="/rating" METHOD="POST" class="comment-box text-center">
        <h5>Deixe sua Avaliação:</h5>
        <h4>
          <div class="rating col-xs-sm-12">
            <input type="radio" name="rating" value="5" id="5">
            <label for="5">☆</label> 

            <input type="radio" name="rating" value="4" id="4">
            <label for="4">☆</label> 

            <input type="radio" name="rating" value="3" id="3">
            <label for="3">☆</label> 

            <input type="radio" name="rating" value="2" id="2">
            <label for="2">☆</label> 

            <input type="radio" name="rating" value="1" id="1">
            <label for="1">☆</label> 
          </div>
        </h4>

        <br>

        <div class="comment-area">
          <textarea class="form-control comment" placeholder="Escreva aqui seu comentário..." rows="4" name="comment" ></textarea>
        </div>

        <div class="text-center mt-4">
          <button class="botao"> Enviar </button>
        </div>
      </form>
    </div>
  </div>
-->
{% endblock %}