*{
    box-sizing: border-box;
    
}
body{
    background-color: rgb(33, 33, 33);
}
.carousel {
    padding: 0;
}

.logo {
    width: 150px;
}

.container{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px auto;
    justify-content: space-between;
}

.item {
    box-sizing: border-box;
    flex: 1 1 300px;
    margin: 10px;
    width: 50%;

}
