{% extends 'base.html' %}
{% block content %}

      <div class="row justify-content-between">
        <div class="col-sm-3 col-xs-12 foto">
          <br />
          <img src="../static/imagens/MBAJ9519.JPG" width="120px" class="logo" aria-hidden="true">
          <br />

          <h2>Marcelo</h2>
        </div>

        <div class="col-sm-6 col-xs-12 perfil justify-content-center">
          <h4 class="text-dark text-center justify-content-center">Precisando buscar ou retirar algo, chame!</h4>
          <br />
          <p class="text-secondary text-center justify-content-center">Trabalho com entregas há mais de 10 anos em toda
            região Metropolitana,
            Grande São Paulo e Litoral.
            Horários de atendimento agendados a combinar.
          </p>
        </div>

        <div class="col-sm-3 col-xs-12 avalgeral d-flex justify-content-center">

          <div class="content text-center justify-content-center">

            <h4>Avaliação geral</h4>

            <div class="ratings"> <span class="product-rating">{{ ratingAvg }}</span><span>/5</span>

              <div class="stars"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                  class="fa fa-star"></i> </div>

              <!-- <img src="../static/imagens/star4.png" height="25" width="100"> -->

              <div class="rating-text"> <span>{{ ratingLength }} avaliações</span> </div>
            </div>
            <!-- </div> -->
          </div>

        </div>
      </div>

      <div class="row justify-content-between">
        <div id=avalpessoal class="col-sm-3 col-xs-12">
          <div class="card-body text-center"> <img src="../static/imagens/evaluetion.png" height="80" width="80">
            <form action="/rating" METHOD="POST" class="comment-box text-center">
              <h5>Deixe sua Avaliação:</h5>
              <h4>
                <div class="rating col-xs-sm-12">
                  <input type="radio" name="rating" value="5" id="5">
                  <label for="5">☆</label> 

                  <input type="radio" name="rating" value="4" id="4">
                  <label for="4">☆</label> 

                  <input type="radio" name="rating" value="3" id="3">
                  <label for="3">☆</label> 

                  <input type="radio" name="rating" value="2" id="2">
                  <label for="2">☆</label> 

                  <input type="radio" name="rating" value="1" id="1">
                  <label for="1">☆</label> 
                </div>
              </h4>

              <br>

              <div class="comment-area">
                <textarea class="form-control comment" placeholder="Escreva aqui seu comentário..." rows="4" name="comment" ></textarea>
              </div>

              <div class="text-center mt-4">
                <button class="botao"> Enviar </button>
              </div>
            </form>
          </div>
        </div>


        <div id=descricao class="col-sm-6 col-xs-12">

          
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">

              
              <h5>Avaliação de nossos Clientes:</h5>

              <div class="carousel-inner">

                <!-- Estrutura de avaliações enviadas -->
                {% for avaliacao in evaluations %}
                  {% if avaliacao.id == 1 %}
                    <div class="carousel-item active">
                  {% else %}
                    <div class="carousel-item">
                  {% endif %}

                    <div class="rating-box">
                      {% for number in range(avaliacao.star) %}
                      <label class="rating-comment">&#9733;</label>
                      {% endfor %}
                    </div>
                  
                    
                    <div class="comment-area">
                      <strong><textarea class="comments" readonly rows="3">{{ avaliacao.evaluation }}</textarea></strong>
                    </div>
                  </div>
                {% endfor %}
              </div>             

              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>

        </div>

        <div id=dados class="col-sm-3 col-xs-12">
          <div>
            <br><br>
            <center><h7>Se você gostou do atendimento!</h7></center>
            <center><h7>E quer dar um contribuição em dinheiro</h7></center>
            <br>
            <center><h7>Segue abaixo o meu PIX (Telefone):</h7></center>
            <br>
            <center><strong><h8 class="text-success" id="link">(11)98848-9617</h8></strong></center>

          </div>
          <br>
          <div>
            <center><button type="button" class="btn btn-primary" onClick="copiarTexto()">Copiar PIX</button></center>
          </div>

          <a class="whatsapp-link"
            href="https://api.whatsapp.com/send?phone=5511988489617&text=Solicito%20um%20Orçamento%20de%20um%20frete"
            target="_blank">
            <i width="120" class="fa fa-whatsapp"></i>
          </a>

        </div>
        
      </div>


{% endblock %}